@font-face {
    font-family: 'Flama';
    src: url('../fonts/Flama.woff2') format('woff2'), url('../fonts/Flama.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flama Bold';
    src: url('../fonts/Flama-Semibold.woff2') format('woff2'), url('../fonts/Flama-Semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Medium';
    src: url('../fonts/FuturaBT-Medium.woff2') format('woff2'), url('../fonts/FuturaBT-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Heavy';
    src: url('../fonts/FuturaBT-Heavy.woff2') format('woff2'), url('../fonts/FuturaBT-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Light';
    src: url('../fonts/FuturaBT-Light.woff2') format('woff2'), url('../fonts/FuturaBT-Light.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}