.cards {
  background-color: $brand-white;
  padding: rem(20px) 0 rem(40px);

  @include from(l) {
    padding: rem(40px) 0 rem(80px);
  }

  &__wrapper {
    position: relative;
  }

  &__item {
    box-shadow: 0 0 rem(10px) $grey-lt;
    position: relative;
    margin-bottom: rem(20px);
  }

  &__heading {
    padding: 0 rem(10px) rem(16px);

    h2 {
      @extend %h1;
      color: $grey;
    }
  }

  &__image {
    height: rem(169px);
    margin-bottom: rem(34px);
    position: relative;
    width: 100%;

    img {
      @include coverAbsolute(1);
      object-fit: cover;
    }
  }

  &__content {
    background-color: $white;
    padding: rem(20px);
    position: relative;

    @include from(l) {
      min-height: rem(220px);
    }
  }

  &__title {
    @extend %h3;
    color: $grey;
  }

  &__text {
    
    p {
      color: $grey;
    }
    margin-top: rem(16px);
    padding: rem(0px) rem(24px) rem(24px) rem(24px);
  }
   

  .slick-list,
  .slick-track {
    width: 100%;
    margin: 0;
  }

  .slick-slide {
    padding: 0 rem(10px) rem(16px);
  }

  &__pagination {
    &__prev,
    &__next {
      @include center('vertical');
      cursor: pointer;

      span {
        background-color: $red;
        border-radius: 100%;
        display: block;
        height: rem(44px);
        width: rem(44px);
        position: relative;

        &:after {
          @include center('both');
          content: '';
          display: block;
          height: rem(20px);
          width: rem(18px);
        }
      }
    }

    &__prev {
      left: rem(-10px);

      span {
        &:after {
          @include iconBg('../images/icons/prev-white.svg');
        }
      }
    }

    &__next {
      right: rem(-10px);

      span {
        &:after {
          @include iconBg('../images/icons/next-white.svg');
        }
      }
    }

    &__dots {

      .slick-dots {
        padding: 0;
        text-align: center;

        li {
          display: inline-block;

          button {
            background-color: rgba($red, .5);
            border: none;
            border-radius: 100%;
            margin: 0 rem(5px);
            width: rem(12px);
            height: rem(12px);
            font-size: 0;
          }

          &.slick-active {
            button {
              background-color: $red;
            }
          }
        }
      }
    }
  }
}
