#carousel-products-destacados {
   transform: skewY(3deg);

  .wrsl-prosingle-style-1 .wrsl-prosingle-button .button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: normal;

    padding: rem(20px) rem(30px);
    background-color: $naranja;
    color: $white;
    border-radius: 62px;
    text-decoration: none;
    &:hover {
        background-color: $white;
        color: $naranja;
    }
  }
  
  a {
    color: #337ab7;
    background-color: transparent;
  }

  .wrsl-prosingle-style-1 .wrsl-prosingle-heading a {
    color: $verde;
    font-family: Roboto bold;
    font-size: 2.8125rem;
    font-weight: 500;
  }
  
  .wrsl-prosingle-style-1 .wrsl-prosingle-price {
    color: #686666;
    font-family: Roboto;
    font-size: 2rem;
  }
  
  .wrsl-carousel-controller-center .wrsl-carousel-to-prev, .wrsl-carousel-controller-center .wrsl-carousel-to-next{
    background-color:$verde;
    border-style: none;
  }
  .wrsl-carousel-controller-center .wrsl-carousel-to-prev{
    padding: 14px 12px 14px 10px;
  }

  .wrsl-carousel-controller-center .wrsl-carousel-to-next {
    padding: 14px 10px 14px 12px;
  }
}